In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import leafmap as lm
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
from PIL import Image 
%matplotlib inline

In [2]:
WISEdash_postsecondary_enroll_data=gpd.read_file('post-secondary_enrollment/postsecondary_enrollment_current_2019-20-Copy1.csv')

In [28]:
group_list=[]
for i in WISEdash_postsecondary_enroll_data['INSTITUTION_LEVEL']:
    if i not in group_list:
        group_list.append(i)
group_list

['2-Year', '4-Year', 'Multiple', '*']

In [5]:
economic_status=economic_status[economic_status['AGENCY_TYPE']=='Public school']
economic_status

,SCHOOL_YEAR,AGENCY_TYPE,CHARTER_IND,CESA,COUNTY,DISTRICT_CODE,SCHOOL_CODE,GRADE_GROUP,DISTRICT_NAME,SCHOOL_NAME,INITIAL_ENROLLMENT,INSTITUTION_LOCATION,INSTITUTION_LEVEL,INSTITUTION_TYPE,GROUP_BY,GROUP_BY_VALUE,GROUP_COUNT,STUDENT_COUNT,geometry
631,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,Abbotsford Middle/Senior High,First Fall,In-State,2-Year,Public,Economic Status,Econ Disadv,8,1,None
632,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,Abbotsford Middle/Senior High,First Fall,In-State,4-Year,Public,Economic Status,Econ Disadv,8,5,None
633,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,Abbotsford Middle/Senior High,First Fall,Out-of-State,4-Year,Private,Economic Status,Econ Disadv,8,1,None
634,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,Abbotsford Middle/Senior High,Second Fall,In-State,4-Year,Public,Economic Status,Econ Disadv,8,1,None
635,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,Abbotsford Middle/Senior High,First Fall,In-State,2-Year,Public,Economic Status,Not Econ Disadv,13,3,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63718,2019-20,Public school,No,08,Shawano,6692,0140,High School,Wittenberg-Birnamwood,Wittenberg-Birnamwood High,First Fall,In-State,4-Year,Public,Economic Status,Not Econ Disadv,31,12,None
63719,2019-20,Public school,No,08,Shawano,6692,0140,High School,Wittenberg-Birnamwood,Wittenberg-Birnamwood High,First Fall,In-State,Multiple,Public,Economic Status,Not Econ Disadv,31,5,None
63759,2019-20,Public school,No,04,Juneau,6713,0080,High School,Wonewoc-Union Center,Wonewoc-Center High,*,*,*,*,Economic Status,[Data Suppressed],*,*,None
63888,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,*,*,*,*,Economic Status,Econ Disadv,5,*,None
63889,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,*,*,*,*,Economic Status,Not Econ Disadv,84,*,None

In [7]:
for i in economic_status['SCHOOL_NAME']:
    economic_status.replace(i,i.upper(), inplace=True)

In [8]:
economic_status

,SCHOOL_YEAR,AGENCY_TYPE,CHARTER_IND,CESA,COUNTY,DISTRICT_CODE,SCHOOL_CODE,GRADE_GROUP,DISTRICT_NAME,SCHOOL_NAME,INITIAL_ENROLLMENT,INSTITUTION_LOCATION,INSTITUTION_LEVEL,INSTITUTION_TYPE,GROUP_BY,GROUP_BY_VALUE,GROUP_COUNT,STUDENT_COUNT,geometry
631,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,First Fall,In-State,2-Year,Public,Economic Status,Econ Disadv,8,1,None
632,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,First Fall,In-State,4-Year,Public,Economic Status,Econ Disadv,8,5,None
633,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,First Fall,Out-of-State,4-Year,Private,Economic Status,Econ Disadv,8,1,None
634,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,Second Fall,In-State,4-Year,Public,Economic Status,Econ Disadv,8,1,None
635,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,First Fall,In-State,2-Year,Public,Economic Status,Not Econ Disadv,13,3,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63718,2019-20,Public school,No,08,Shawano,6692,0140,High School,Wittenberg-Birnamwood,WITTENBERG-BIRNAMWOOD HIGH,First Fall,In-State,4-Year,Public,Economic Status,Not Econ Disadv,31,12,None
63719,2019-20,Public school,No,08,Shawano,6692,0140,High School,Wittenberg-Birnamwood,WITTENBERG-BIRNAMWOOD HIGH,First Fall,In-State,Multiple,Public,Economic Status,Not Econ Disadv,31,5,None
63759,2019-20,Public school,No,04,Juneau,6713,0080,High School,Wonewoc-Union Center,WONEWOC-CENTER HIGH,*,*,*,*,Economic Status,[Data Suppressed],*,*,None
63888,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,WRIGHTSTOWN HIGH,*,*,*,*,Economic Status,Econ Disadv,5,*,None
63889,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,WRIGHTSTOWN HIGH,*,*,*,*,Economic Status,Not Econ Disadv,84,*,None

In [10]:
def finder():
    x=input("Column Name:")
    if x=='stop':
        return
    y=input("Value:")
    if x in economic_status.columns:
            return economic_status[economic_status[x]==y]
    finder()

In [11]:
finder()

Column Name:SCHOOL_NAME
Value:ABBOTSFORD MIDDLE/SENIOR HIGH

,SCHOOL_YEAR,AGENCY_TYPE,CHARTER_IND,CESA,COUNTY,DISTRICT_CODE,SCHOOL_CODE,GRADE_GROUP,DISTRICT_NAME,SCHOOL_NAME,INITIAL_ENROLLMENT,INSTITUTION_LOCATION,INSTITUTION_LEVEL,INSTITUTION_TYPE,GROUP_BY,GROUP_BY_VALUE,GROUP_COUNT,STUDENT_COUNT,geometry
631,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,First Fall,In-State,2-Year,Public,Economic Status,Econ Disadv,8,1,None
632,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,First Fall,In-State,4-Year,Public,Economic Status,Econ Disadv,8,5,None
633,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,First Fall,Out-of-State,4-Year,Private,Economic Status,Econ Disadv,8,1,None
634,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,Second Fall,In-State,4-Year,Public,Economic Status,Econ Disadv,8,1,None
635,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,First Fall,In-State,2-Year,Public,Economic Status,Not Econ Disadv,13,3,None
636,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,First Fall,In-State,4-Year,Public,Economic Status,Not Econ Disadv,13,7,None
637,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,First Fall,In-State,Multiple,Public,Economic Status,Not Econ Disadv,13,1,None
638,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,Second Fall,In-State,4-Year,Private,Economic Status,Not Econ Disadv,13,1,None
639,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,ABBOTSFORD MIDDLE/SENIOR HIGH,Second Fall,In-State,4-Year,Public,Economic Status,Not Econ Disadv,13,1,None

In [37]:
school_name_list=[]
total_disadv=[]
for i in economic_status['SCHOOL_NAME']:
    if i not in school_name_list:
        school_name_list.append(i)
        school_data=economic_status[economic_status['SCHOOL_NAME']==i]
        group_data=school_data[school_data['GROUP_BY_VALUE']=='Econ Disadv']
        #group_data=group_data[group_data['INSTITUTION_LEVEL']=='Multiple']
        group_data_value=0
        for j in group_data['GROUP_COUNT']:
            group_data_value=int(j)
        total_disadv.append(group_data_value)
total_disadv

[8,
 17,
 3,
 5,
 3,
 8,
 6,
 11,
 21,
 32,
 0,
 2,
 0,
 28,
 1,
 22,
 5,
 0,
 0,
 33,
 9,
 18,
 3,
 25,
 32,
 0,
 32,
 4,
 5,
 2,
 2,
 7,
 4,
 23,
 2,
 0,
 21,
 10,
 29,
 3,
 4,
 2,
 0,
 48,
 20,
 0,
 13,
 18,
 0,
 1,
 3,
 13,
 8,
 18,
 13,
 14,
 1,
 10,
 5,
 16,
 30,
 4,
 19,
 0,
 0,
 6,
 5,
 2,
 0,
 15,
 8,
 4,
 0,
 4,
 18,
 44,
 14,
 11,
 5,
 38,
 0,
 9,
 14,
 11,
 10,
 15,
 10,
 6,
 5,
 8,
 2,
 10,
 8,
 42,
 7,
 47,
 0,
 10,
 2,
 22,
 1,
 5,
 15,
 5,
 0,
 8,
 15,
 10,
 6,
 6,
 0,
 8,
 4,
 11,
 4,
 9,
 11,
 1,
 0,
 12,
 0,
 13,
 20,
 16,
 1,
 11,
 3,
 0,
 14,
 6,
 8,
 51,
 0,
 17,
 31,
 0,
 8,
 5,
 9,
 32,
 13,
 5,
 10,
 2,
 3,
 0,
 10,
 4,
 5,
 16,
 0,
 0,
 95,
 47,
 1,
 31,
 50,
 5,
 0,
 65,
 25,
 0,
 18,
 4,
 5,
 4,
 19,
 7,
 19,
 29,
 4,
 34,
 15,
 2,
 8,
 3,
 6,
 4,
 4,
 44,
 48,
 0,
 0,
 16,
 2,
 9,
 20,
 52,
 15,
 58,
 0,
 6,
 17,
 27,
 7,
 0,
 5,
 2,
 7,
 9,
 8,
 0,
 5,
 17,
 1,
 0,
 0,
 29,
 0,
 9,
 36,
 4,
 10,
 34,
 14,
 2,
 0,
 3,
 6,
 2,
 7,
 5,
 7,
 8,
 83,
 7,
 42,
 0,
 12,
 3,
 11,
 2,
 11,
 39,
 25,
 0,
 3,
 14,
 5,
 0,
 20,
 24,
 24,
 3,
 1,
 12,
 29,
 0,
 17,
 20,
 20,
 0,
 6,
 0,
 20,
 0,
 45,
 21,
 0,
 0,
 14,
 0,
 0,
 27,
 0,
 64,
 0,
 59,
 0,
 0,
 30,
 0,
 178,
 0,
 0,
 0,
 68,
 32,
 0,
 0,
 0,
 0,
 23,
 88,
 115,
 0,
 0,
 52,
 0,
 0,
 20,
 0,
 0,
 8,
 3,
 8,
 19,
 0,
 20,
 0,
 6,
 0,
 3,
 18,
 9,
 19,
 2,
 5,
 42,
 5,
 0,
 8,
 0,
 0,
 9,
 9,
 3,
 5,
 3,
 17,
 13,
 5,
 22,
 7,
 13,
 4,
 6,
 19,
 0,
 3,
 3,
 51,
 7,
 24,
 12,
 0,
 7,
 9,
 24,
 5,
 15,
 16,
 9,
 11,
 4,
 5,
 6,
 5,
 1,
 7,
 13,
 0,
 8,
 5,
 10,
 0,
 10,
 3,
 13,
 17,
 4,
 9,
 0,
 17,
 0,
 3,
 8,
 0,
 70,
 47,
 52,
 0,
 3,
 6,
 4,
 5,
 20,
 1,
 31,
 7,
 20,
 18,
 0,
 4,
 10,
 0,
 18,
 15,
 11,
 0,
 8,
 1,
 3,
 4,
 8,
 3,
 3,
 24,
 19,
 8,
 5,
 15,
 26,
 0,
 4,
 28,
 10,
 11,
 8,
 0,
 18,
 2,
 9,
 13,
 0,
 4,
 10,
 43,
 0,
 12,
 3,
 0,
 25,
 0,
 11,
 14,
 10,
 12,
 7,
 56,
 0,
 21,
 4,
 13,
 0,
 57,
 32,
 3,
 12,
 4,
 0,
 14,
 7,
 7,
 9,
 5,
 0,
 10,
 4,
 10,
 5,
 0,
 44,
 0,
 0,
 2,
 0,
 1,
 0,
 12,
 10,
 0,
 37,
 17,
 0,
 0,
 4,
 0,
 9,
 13,
 16,
 0,
 2,
 16,
 19,
 0,
 0,
 8,
 0,
 40,
 0,
 0,
 20,
 7,
 7,
 8,
 1,
 10,
 0,
 3,
 4,
 16,
 23,
 8,
 6,
 19,
 18,
 4,
 16,
 0,
 0,
 9,
 0,
 5]

In [38]:
len(total_disadv)

504

In [27]:
len(MultipleYear_disadv)

504

In [24]:
len(FourYear_disadv)

504

In [22]:
len(TwoYear_disadv)

504

In [19]:
len(private_disadv)

504

In [25]:
len(public_disadv)

504

In [42]:
Economic_status_data.columns

Index(['Name', 'FourYear_disadv', 'total_disadv', 'private_disadv',
       'MultipleYear_disadv', 'TwoYear_disadv', 'public_disadv'],
      dtype='object')

In [57]:
#Economic_status_data['total_disadv']=total_disadv#=pd.DataFrame(data=school_name_list)
#Economic_status_data.index=Economic_status_data['Name']
Economic_status_data#.drop(columns={'Name'},inplace=True)

,FourYear_disadv,total_disadv,private_disadv,MultipleYear_disadv,TwoYear_disadv,public_disadv
Name,,,,,,
ABBOTSFORD MIDDLE/SENIOR HIGH,7,1,1,7,0,8
ADAMS-FRIENDSHIP HIGH,15,2,7,9,1,17
ALBANY HIGH,0,0,0,0,0,3
ALGOMA HIGH,0,0,0,0,0,5
ALMA HIGH,0,0,0,0,0,3
...,...,...,...,...,...,...
WISCONSIN HEIGHTS HIGH,0,0,0,0,0,0
RIVER CITIES HIGH,0,0,0,0,0,0
WITTENBERG-BIRNAMWOOD HIGH,7,2,1,6,2,9
WONEWOC-CENTER HIGH,0,0,0,0,0,0
WRIGHTSTOWN HIGH,0,0,0,0,0,5

In [53]:
Economic_status_data['Name']=Economic_status_data.index

In [49]:
FAFSA_merged_enrollment19_20=pd.read_excel('FAFSA_merged_enrollment19-20.xlsx')

In [61]:
FAFSA_merged_EnrollEconStat19_20#.to_excel("FAFSA_merged_EnrollEconStat19_20.xlsx")#=pd.merge(FAFSA_merged_enrollment19_20,Economic_status_data,on='Name')

,Name,City,State,June_2015,Dec31_2015,June_2016,Dec31_2016,June_2017,Dec31_2017,June_2018,...,institution_MultipleYear,institution_Public,institution_Private,total_enrollment,FourYear_disadv,total_disadv,private_disadv,MultipleYear_disadv,TwoYear_disadv,public_disadv
0,ABBOTSFORD MIDDLE/SENIOR HIGH,ABBOTSFORD,WI,31,36,17,20,24,28,26,...,1,19,2,21,7,1,1,7,0,8
1,ADAMS-FRIENDSHIP HIGH,ADAMS,WI,49,63,53,62,65,71,39,...,2,31,2,33,15,2,7,9,1,17
2,ALBANY HIGH,ALBANY,WI,15,20,11,13,21,21,16,...,1,7,2,9,0,0,0,0,0,3
3,ALGOMA HIGH,ALGOMA,WI,26,28,24,27,48,49,39,...,5,25,4,30,0,0,0,0,0,5
4,ALLIANCE SCHOOL OF MILWAUKEE,MILWAUKEE,WI,11,11,13,17,28,30,29,...,1,8,2,11,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
358,WISCONSIN VIRTUAL ACADEMY HIGH (WIVA),MCFARLAND,WI,5,5,15,25,23,32,20,...,3,65,6,72,21,3,12,11,1,24
359,WISCONSIN VIRTUAL LEARNING,FREDONIA,WI,17,21,16,18,15,15,11,...,1,20,3,23,5,1,4,2,0,6
360,WITTENBERG-BIRNAMWOOD HIGH,WITTENBERG,WI,50,63,42,48,43,52,55,...,7,36,4,40,7,2,1,6,2,9
361,WONEWOC-CENTER HIGH,WONEWOC,WI,16,18,13,13,12,15,7,...,0,6,0,6,0,0,0,0,0,0
362,WRIGHTSTOWN HIGH,WRIGHTSTOWN,WI,65,71,62,66,74,87,78,...,4,74,12,89,0,0,0,0,0,5