In [1]:
import pandas as pd
import numpy as np
import geopandas as gpd
import leafmap as lm
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rcParams
from PIL import Image 
%matplotlib inline

In [2]:
WISEdash_postsecondary_enroll_data=gpd.read_file('post-secondary_enrollment/postsecondary_enrollment_current_2019-20-Copy1.csv')

In [3]:
WISEdash_postsecondary_enroll_data

,SCHOOL_YEAR,AGENCY_TYPE,CHARTER_IND,CESA,COUNTY,DISTRICT_CODE,SCHOOL_CODE,GRADE_GROUP,DISTRICT_NAME,SCHOOL_NAME,INITIAL_ENROLLMENT,INSTITUTION_LOCATION,INSTITUTION_LEVEL,INSTITUTION_TYPE,GROUP_BY,GROUP_BY_VALUE,GROUP_COUNT,STUDENT_COUNT,geometry
0,2019-20,,,,,0000,,[All],[Statewide],[Statewide],First Fall,In-State,2-Year,Public,All Students,All Students,32744,7097,None
1,2019-20,,,,,0000,,[All],[Statewide],[Statewide],First Fall,In-State,4-Year,Multiple,All Students,All Students,32744,211,None
2,2019-20,,,,,0000,,[All],[Statewide],[Statewide],First Fall,In-State,4-Year,Private,All Students,All Students,32744,2171,None
3,2019-20,,,,,0000,,[All],[Statewide],[Statewide],First Fall,In-State,4-Year,Public,All Students,All Students,32744,11695,None
4,2019-20,,,,,0000,,[All],[Statewide],[Statewide],First Fall,In-State,Multiple,Multiple,All Students,All Students,32744,314,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63947,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,Out-of-State,4-Year,Private,Race/Ethnicity,White,83,6,None
63948,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,Out-of-State,4-Year,Public,Race/Ethnicity,White,83,6,None
63949,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,Later Enrollment,In-State,4-Year,Public,Race/Ethnicity,White,83,1,None
63950,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,Second Fall,In-State,2-Year,Public,Race/Ethnicity,White,83,3,None
63951,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,Second Fall,In-State,Multiple,Public,Race/Ethnicity,White,83,1,None

In [4]:
group_list=[]
for i in WISEdash_postsecondary_enroll_data['GROUP_BY_VALUE']:
    if i not in group_list:
        group_list.append(i)
group_list

['All Students',
 'SwD',
 'SwoD',
 'Unknown',
 'Econ Disadv',
 'Not Econ Disadv',
 'EL',
 'Eng Prof',
 'Female',
 'Male',
 'Migrant',
 'Not Migrant',
 'Amer Indian',
 'Asian',
 'Black',
 'Hispanic',
 'Pacific Isle',
 'Two or More',
 'White',
 '[Data Suppressed]']

In [8]:
ethnicity_data=WISEdash_postsecondary_enroll_data[WISEdash_postsecondary_enroll_data['AGENCY_TYPE']=='Public school']
ethnicity_data

,SCHOOL_YEAR,AGENCY_TYPE,CHARTER_IND,CESA,COUNTY,DISTRICT_CODE,SCHOOL_CODE,GRADE_GROUP,DISTRICT_NAME,SCHOOL_NAME,INITIAL_ENROLLMENT,INSTITUTION_LOCATION,INSTITUTION_LEVEL,INSTITUTION_TYPE,GROUP_BY,GROUP_BY_VALUE,GROUP_COUNT,STUDENT_COUNT,geometry
619,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,Abbotsford Middle/Senior High,First Fall,In-State,2-Year,Public,All Students,All Students,21,4,None
620,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,Abbotsford Middle/Senior High,First Fall,In-State,4-Year,Public,All Students,All Students,21,12,None
621,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,Abbotsford Middle/Senior High,First Fall,In-State,Multiple,Public,All Students,All Students,21,1,None
622,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,Abbotsford Middle/Senior High,First Fall,Out-of-State,4-Year,Private,All Students,All Students,21,1,None
623,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,Abbotsford Middle/Senior High,Second Fall,In-State,4-Year,Private,All Students,All Students,21,1,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63947,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,Out-of-State,4-Year,Private,Race/Ethnicity,White,83,6,None
63948,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,Out-of-State,4-Year,Public,Race/Ethnicity,White,83,6,None
63949,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,Later Enrollment,In-State,4-Year,Public,Race/Ethnicity,White,83,1,None
63950,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,Second Fall,In-State,2-Year,Public,Race/Ethnicity,White,83,3,None
63951,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,Second Fall,In-State,Multiple,Public,Race/Ethnicity,White,83,1,None

In [9]:
ethnicity_data=ethnicity_data[ethnicity_data['GROUP_BY_VALUE']=='White']
ethnicity_data

,SCHOOL_YEAR,AGENCY_TYPE,CHARTER_IND,CESA,COUNTY,DISTRICT_CODE,SCHOOL_CODE,GRADE_GROUP,DISTRICT_NAME,SCHOOL_NAME,INITIAL_ENROLLMENT,INSTITUTION_LOCATION,INSTITUTION_LEVEL,INSTITUTION_TYPE,GROUP_BY,GROUP_BY_VALUE,GROUP_COUNT,STUDENT_COUNT,geometry
661,2019-20,Public school,No,10,Clark,0007,0040,High School,Abbotsford,Abbotsford Middle/Senior High,*,*,*,*,Race/Ethnicity,White,16,*,None
759,2019-20,Public school,No,05,Adams,0014,0040,High School,Adams-Friendship Area,Adams-Friendship High,*,*,*,*,Race/Ethnicity,White,31,*,None
819,2019-20,Public school,No,02,Green,0063,0040,High School,Albany,Albany High,*,*,*,*,Race/Ethnicity,White,8,*,None
903,2019-20,Public school,No,07,Kewaunee,0070,0040,High School,Algoma,Algoma High,*,*,*,*,Race/Ethnicity,White,28,*,None
983,2019-20,Public school,No,04,Buffalo,0084,0040,High School,Alma,Alma High,*,*,*,*,Race/Ethnicity,White,14,*,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63947,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,Out-of-State,4-Year,Private,Race/Ethnicity,White,83,6,None
63948,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,Out-of-State,4-Year,Public,Race/Ethnicity,White,83,6,None
63949,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,Later Enrollment,In-State,4-Year,Public,Race/Ethnicity,White,83,1,None
63950,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,Second Fall,In-State,2-Year,Public,Race/Ethnicity,White,83,3,None
63951,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,Second Fall,In-State,Multiple,Public,Race/Ethnicity,White,83,1,None

In [10]:
def finder():
    x=input("Column Name:")
    if x=='stop':
        return
    y=input("Value:")
    if x in ethnicity_data.columns:
            return ethnicity_data[ethnicity_data[x]==y]
    finder()

In [14]:
finder()

Column Name:SCHOOL_NAME
Value:Wrightstown High

,SCHOOL_YEAR,AGENCY_TYPE,CHARTER_IND,CESA,COUNTY,DISTRICT_CODE,SCHOOL_CODE,GRADE_GROUP,DISTRICT_NAME,SCHOOL_NAME,INITIAL_ENROLLMENT,INSTITUTION_LOCATION,INSTITUTION_LEVEL,INSTITUTION_TYPE,GROUP_BY,GROUP_BY_VALUE,GROUP_COUNT,STUDENT_COUNT,geometry
63939,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,In-State,2-Year,Public,Race/Ethnicity,White,83,21,None
63940,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,In-State,4-Year,Multiple,Race/Ethnicity,White,83,1,None
63941,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,In-State,4-Year,Private,Race/Ethnicity,White,83,5,None
63942,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,In-State,4-Year,Public,Race/Ethnicity,White,83,34,None
63943,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,In-State,Multiple,Multiple,Race/Ethnicity,White,83,1,None
63944,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,In-State,Multiple,Public,Race/Ethnicity,White,83,1,None
63945,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,Multiple,4-Year,Multiple,Race/Ethnicity,White,83,1,None
63946,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,Multiple,4-Year,Public,Race/Ethnicity,White,83,2,None
63947,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,Out-of-State,4-Year,Private,Race/Ethnicity,White,83,6,None
63948,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,First Fall,Out-of-State,4-Year,Public,Race/Ethnicity,White,83,6,None
63949,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,Later Enrollment,In-State,4-Year,Public,Race/Ethnicity,White,83,1,None
63950,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,Second Fall,In-State,2-Year,Public,Race/Ethnicity,White,83,3,None
63951,2019-20,Public school,No,07,Brown,6734,0040,High School,Wrightstown Community,Wrightstown High,Second Fall,In-State,Multiple,Public,Race/Ethnicity,White,83,1,None

In [21]:
school_name_list=[]
ethnicity_whiteMultiyear=[]
for i in ethnicity_data['SCHOOL_NAME']:
    if i not in school_name_list:
        school_name_list.append(i)
        school_data=ethnicity_data[ethnicity_data['SCHOOL_NAME']==i]
        group_data=school_data[school_data['GROUP_BY_VALUE']=='White']
        group_data=group_data[group_data['INSTITUTION_LEVEL']=='Multiple']
        group_data_value=0
        for j in group_data['STUDENT_COUNT']:
            group_data_value=group_data_value+int(j)
        ethnicity_whiteMultiyear.append(group_data_value)
ethnicity_whiteMultiyear

[0,
 0,
 0,
 0,
 0,
 1,
 1,
 5,
 4,
 12,
 0,
 0,
 40,
 0,
 44,
 0,
 0,
 79,
 0,
 3,
 2,
 13,
 5,
 14,
 0,
 0,
 0,
 0,
 0,
 0,
 4,
 0,
 2,
 0,
 6,
 0,
 0,
 0,
 0,
 38,
 3,
 1,
 0,
 2,
 0,
 0,
 4,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 8,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 4,
 0,
 0,
 11,
 16,
 0,
 0,
 0,
 16,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 8,
 0,
 18,
 0,
 4,
 13,
 0,
 0,
 1,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 2,
 3,
 0,
 0,
 0,
 0,
 0,
 4,
 0,
 10,
 10,
 2,
 0,
 0,
 0,
 0,
 2,
 2,
 10,
 4,
 5,
 0,
 0,
 0,
 12,
 0,
 0,
 0,
 0,
 0,
 6,
 0,
 0,
 3,
 0,
 13,
 5,
 1,
 5,
 8,
 0,
 0,
 11,
 5,
 5,
 2,
 0,
 2,
 4,
 6,
 10,
 24,
 0,
 26,
 0,
 2,
 0,
 1,
 2,
 0,
 0,
 6,
 3,
 3,
 0,
 0,
 5,
 4,
 5,
 5,
 4,
 0,
 3,
 1,
 2,
 8,
 0,
 4,
 0,
 0,
 0,
 12,
 0,
 6,
 0,
 0,
 6,
 0,
 0,
 7,
 0,
 0,
 0,
 1,
 0,
 4,
 0,
 0,
 0,
 0,
 10,
 0,
 31,
 0,
 3,
 0,
 0,
 0,
 1,
 9,
 0,
 2,
 0,
 0,
 7,
 3,
 0,
 0,
 0,
 0,
 5,
 9,
 5,
 12,
 0,
 0,
 0,
 18,
 6,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 24,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 10,
 1,
 0,
 0,
 10,
 7,
 14,
 0,
 13,
 0,
 0,
 1,
 2,
 3,
 0,
 0,
 0,
 8,
 8,
 2,
 7,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 21,
 0,
 15,
 0,
 0,
 1,
 13,
 0,
 13,
 0,
 4,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 3,
 1,
 0,
 3,
 0,
 4,
 3,
 7,
 3,
 1,
 0,
 3,
 1,
 0,
 0,
 0,
 3,
 3,
 3,
 0,
 0,
 1,
 0,
 0,
 6,
 2,
 6,
 0,
 7,
 0,
 0,
 3,
 6,
 0,
 0,
 0,
 1,
 4,
 0,
 0,
 0,
 0,
 1,
 3,
 0,
 0,
 5,
 5,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 2,
 12,
 0,
 0,
 5,
 0,
 0,
 3,
 3,
 3,
 0,
 1,
 0,
 0,
 15,
 0,
 8,
 0,
 2,
 0,
 25,
 0,
 0,
 0,
 0,
 9,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 18,
 2,
 4,
 1,
 0,
 11,
 3,
 2,
 8,
 4,
 0,
 1,
 14,
 3,
 4,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 4,
 7,
 0,
 3,
 0,
 2,
 0,
 0,
 8,
 0,
 3,
 3,
 0,
 0,
 9,
 0,
 1,
 3,
 0,
 0,
 0,
 0,
 3]

In [22]:
len(ethnicity_whiteMultiyear)

439

In [20]:
len(ethnicity_white2year)

439

In [17]:
len(ethnicity_white4year)

439

In [13]:
len(ethnicity_white)

439

In [41]:
Cleaned_Ethnicity_data['ethnicity_whiteMultiyear']=ethnicity_whiteMultiyear
Cleaned_Ethnicity_data#.columns={'Name'}#=pd.DataFrame(data=school_name_list)

,Name,ethnicity_white,ethnicity_white4year,ethnicity_white2year,ethnicity_whiteMultiyear
0,Abbotsford Middle/Senior High,16,0,0,0
1,Adams-Friendship High,31,0,0,0
2,Albany High,8,0,0,0
3,Algoma High,28,0,0,0
4,Alma High,14,0,0,0
...,...,...,...,...,...
434,Wisconsin Heights High,33,0,0,0
435,River Cities High,6,0,0,0
436,Wittenberg-Birnamwood High,36,0,0,0
437,Wonewoc-Center High,6,1,5,0
438,Wrightstown High,83,56,24,3

In [42]:
Cleaned_Ethnicity_data

,Name,ethnicity_white,ethnicity_white4year,ethnicity_white2year,ethnicity_whiteMultiyear
0,Abbotsford Middle/Senior High,16,0,0,0
1,Adams-Friendship High,31,0,0,0
2,Albany High,8,0,0,0
3,Algoma High,28,0,0,0
4,Alma High,14,0,0,0
...,...,...,...,...,...
434,Wisconsin Heights High,33,0,0,0
435,River Cities High,6,0,0,0
436,Wittenberg-Birnamwood High,36,0,0,0
437,Wonewoc-Center High,6,1,5,0
438,Wrightstown High,83,56,24,3

In [44]:
Cleaned_Ethnicity_data.index=Cleaned_Ethnicity_data['Name']

In [46]:
Cleaned_Ethnicity_data.drop(columns={'Name'},inplace=True)

In [55]:
Cleaned_Ethnicity_data['Name']=Cleaned_Ethnicity_data.index

In [56]:
for i in Cleaned_Ethnicity_data['Name']:
    Cleaned_Ethnicity_data.replace(i,i.upper(),inplace=True)

In [58]:
Cleaned_Ethnicity_data.index=Cleaned_Ethnicity_data['Name']

In [60]:
Cleaned_Ethnicity_data.drop(columns={'Name'},inplace=True)

In [61]:
Cleaned_Ethnicity_data

,ethnicity_white,ethnicity_white4year,ethnicity_white2year,ethnicity_whiteMultiyear
Name,,,,
ABBOTSFORD MIDDLE/SENIOR HIGH,16,0,0,0
ADAMS-FRIENDSHIP HIGH,31,0,0,0
ALBANY HIGH,8,0,0,0
ALGOMA HIGH,28,0,0,0
ALMA HIGH,14,0,0,0
...,...,...,...,...
WISCONSIN HEIGHTS HIGH,33,0,0,0
RIVER CITIES HIGH,6,0,0,0
WITTENBERG-BIRNAMWOOD HIGH,36,0,0,0
WONEWOC-CENTER HIGH,6,1,5,0
WRIGHTSTOWN HIGH,83,56,24,3

In [48]:
Cleaned_Ethnicity_data.to_excel('Cleaned_Ethnicity_data.xlsx')

In [50]:
FAFSA_merged_EnrollEconStat19_20=pd.read_excel('FAFSA_merged_EnrollEconStat19_20.xlsx')

In [62]:
FAFSA_Enroll_Econ_Ethni19_20=pd.merge(FAFSA_merged_EnrollEconStat19_20,Cleaned_Ethnicity_data,on='Name')

In [65]:
FAFSA_Enroll_Econ_Ethni19_20.to_csv('FAFSA_Enroll_Econ_Ethni19_20.csv')

In [66]:
FAFSA_Enroll_Econ_Ethni19_20

,Unnamed: 0,Name,City,State,June_2015,Dec31_2015,June_2016,Dec31_2016,June_2017,Dec31_2017,...,FourYear_disadv,total_disadv,private_disadv,MultipleYear_disadv,TwoYear_disadv,public_disadv,ethnicity_white,ethnicity_white4year,ethnicity_white2year,ethnicity_whiteMultiyear
0,0,ABBOTSFORD MIDDLE/SENIOR HIGH,ABBOTSFORD,WI,31,36,17,20,24,28,...,7,1,1,7,0,8,16,0,0,0
1,1,ADAMS-FRIENDSHIP HIGH,ADAMS,WI,49,63,53,62,65,71,...,15,2,7,9,1,17,31,0,0,0
2,2,ALBANY HIGH,ALBANY,WI,15,20,11,13,21,21,...,0,0,0,0,0,3,8,0,0,0
3,3,ALGOMA HIGH,ALGOMA,WI,26,28,24,27,48,49,...,0,0,0,0,0,5,28,0,0,0
4,4,ALLIANCE SCHOOL OF MILWAUKEE,MILWAUKEE,WI,11,11,13,17,28,30,...,0,0,0,0,0,0,2,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
348,358,WISCONSIN VIRTUAL ACADEMY HIGH (WIVA),MCFARLAND,WI,5,5,15,25,23,32,...,21,3,12,11,1,24,51,26,22,3
349,359,WISCONSIN VIRTUAL LEARNING,FREDONIA,WI,17,21,16,18,15,15,...,5,1,4,2,0,6,21,0,0,0
350,360,WITTENBERG-BIRNAMWOOD HIGH,WITTENBERG,WI,50,63,42,48,43,52,...,7,2,1,6,2,9,36,0,0,0
351,361,WONEWOC-CENTER HIGH,WONEWOC,WI,16,18,13,13,12,15,...,0,0,0,0,0,0,6,1,5,0
352,362,WRIGHTSTOWN HIGH,WRIGHTSTOWN,WI,65,71,62,66,74,87,...,0,0,0,0,0,5,83,56,24,3